*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(173, 220, 204);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(36, 5, 79);
}
.navbar{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 12fr;
    padding-right: 2dvw;
    padding-top: 2.5dvh;
    padding-bottom: 2dvh;
    font-size: 1.2rem;
    background-color: azure;
}
.navbar > *{
    justify-self: end;
}
.navbar .right-side{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 1dvw;
}
.container-footer{
    display: grid;
    min-height: 20dvh;
    grid-template-rows: 3fr 1fr;
    background-color: rgb(178, 234, 215);
    margin-top: 10dvh;
    
}
.social-icons-div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-self: center;
}
.social-icons{
    width: 3dvw;
    height: 3dvw;
}
.footer-bottom{
    font-size: 1.2rem;
    justify-self: center;
}

.buy-cell{
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
    background-color: rgb(195, 195, 45);
    border-radius: 10%;
    justify-self: center;
    width: 30dvw;
    
    margin-top: 3dvh;
}
.price{
    font-size: 1.4rem;
    margin-top: 3dvh;
    margin-left: 2dvh;
}
.product-details{
    font-size: 1.2rem;
    margin-left: dvh;

}

.mainbody{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2dvw;
    
}
.mainbody>*{
    max-width: 30dvw;
}